@charset "utf-8";
/**
 * Copyright 2012-2013 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * File created D/03/06/2012, updated D/03/03/2013, version 7
 * https://redmine.luigifab.info/projects/magento/wiki/versioning
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL).
 */

* { margin:0; padding:0; }
body { margin:1em; overflow:hidden; font:0.8em "DejaVu Sans", Verdana, sans-serif; background-color:#DDD; }
abbr[title], span[title] { border-bottom:none; }

div.box { margin:5% auto 0; width:38em; }
div.box div.number { margin:0 0 0.5em -0.1em; font-size:4em; font-weight:bold; color:#CCC; }

div.box div.number span {
	display:inline-block; margin-right:0.1em; width:1.3em; height:1.3em; line-height:135%; text-align:center;
	border-bottom:1px solid #CACACA; background-color:#EEE;
	border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;
	background-clip:padding-box; -moz-background-clip:padding; -webkit-background-clip:padding-box;
}

div.box h1 { margin:0 0 1em; font-size:1.2em; font-weight:bold; color:black; }
div.box p { margin:1em auto; line-height:140%; color:#111; }

pre {
	position:absolute; bottom:-1px; left:0; right:0; margin:auto; padding:1em 1em 0; width:80%; height:20%; overflow:auto; z-index:175;
	font:0.85em "DejaVu Sans", Verdana, sans-serif; line-height:160%; white-space:pre-wrap; word-wrap:break-word;
	border:1px solid #CCC; color:#777; background-color:#E8E8E8;
	transition:height 0.4s; -moz-transition:height 0.4s; -o-transition:height 0.4s; -webkit-transition:height 0.4s;
	border-radius:0.9em 0.9em 0 0; -moz-border-radius:0.9em 0.9em 0 0; -webkit-border-radius:0.9em 0.9em 0 0;
	background-clip:padding-box; -moz-background-clip:padding; -webkit-background-clip:padding-box;
}

pre.up:hover { height:92%; }
pre a { color:#333; }

