/**
 * Copyright 2011-2015 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * Created J/22/12/2011, updated J/14/05/2015, version 54
 * https://redmine.luigifab.info/projects/magento/wiki/versioning
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL).
 */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& global &&& */
body.adminhtml-versioning-repository-index h3.icon-head.bzr,
body.adminhtml-versioning-repository-history h3.icon-head.bzr,
body.adminhtml-versioning-repository-status h3.icon-head {
	background:url("../../../images/luigifab/versioning/bzr.png") no-repeat left center;
}

body.adminhtml-versioning-repository-index h3.icon-head.git,
body.adminhtml-versioning-repository-history h3.icon-head.git,
body.adminhtml-versioning-repository-status h3.icon-head.git {
	background:url("../../../images/luigifab/versioning/git.png") no-repeat left center;
}

body.adminhtml-versioning-repository-index h3.icon-head.svn,
body.adminhtml-versioning-repository-history h3.icon-head.svn,
body.adminhtml-versioning-repository-status h3.icon-head.svn {
	background:url("../../../images/luigifab/versioning/svn.png") no-repeat left center;
}

body.adminhtml-versioning-repository-index h3.icon-head.hg,
body.adminhtml-versioning-repository-history h3.icon-head.hg,
body.adminhtml-versioning-repository-status h3.icon-head.hg {
	background:url("../../../images/luigifab/versioning/hg.png") no-repeat left center;
}

body.adminhtml-versioning-repository-index h3.icon-head.darcs,
body.adminhtml-versioning-repository-history h3.icon-head.darcs,
body.adminhtml-versioning-repository-status h3.icon-head.darcs {
	background:url("../../../images/luigifab/versioning/darcs.png") no-repeat left center;
}

body.adminhtml-versioning-repository-index table.data tr:hover,
body.adminhtml-versioning-repository-history table.data tr:hover { background-color:#DEDEDE; }

body.adminhtml-versioning-repository-history #loading-mask { background-color:rgba(255,255,255, 0.5); }
body.adminhtml-versioning-repository-history #loading_mask_loader { margin-left:-120px; margin-top:-30px; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& system/config &&& */
#config_edit_form[action*="system_config/save/section/versioning"] { padding-top:0; }
#config_edit_form[action*="system_config/save/section/versioning"] [title] { border-bottom:none; }
#config_edit_form[action*="system_config/save/section/versioning"] fieldset > .comment { padding:5px; line-height:130%; color:red; }
#config_edit_form[action*="system_config/save/section/versioning"] h4 a { float:right; font-size:12px; text-decoration:none; }
#config_edit_form[action*="system_config/save/section/versioning"] p.note { padding-top:3px; line-height:135%; }
#config_edit_form[action*="system_config/save/section/versioning"] [id*="downtime"] tr td.value input { width:400px; }
#config_edit_form[action*="system_config/save/section/versioning"] [id*="downtime"] tr td.value textarea { width:400px; height:10em; }

/* &&&&&&&&&&&&& versioning/repository/history,status &&& */
body.adminhtml-versioning-repository-status pre ins { display:inline-block; width:100%; text-decoration:none; background-color:#CFC; }
body.adminhtml-versioning-repository-status pre del { display:inline-block; width:100%; text-decoration:none; background-color:#FCC; }
body.adminhtml-versioning-repository-status pre strong { display:inline-block; width:100%; }

body.adminhtml-versioning-repository-status pre, body.adminhtml-versioning-repository-history pre {
	margin-bottom:1em; padding:0.8em 1em 1em; overflow:hidden;
	font:11px monospace; line-height:16px; white-space:pre-wrap;
	color:#666; border:1px solid #DADFE0; background-color:#F6F6F6;
}

body.adminhtml-versioning-repository-history pre span, body.adminhtml-versioning-repository-status pre span { color:black; }
body.adminhtml-versioning-repository-history pre { height:20em; margin-bottom:2em; overflow:auto; }

body.adminhtml-versioning-repository-history table.data tr.headings th.no-link { padding:3px 4px; text-align:center; }
body.adminhtml-versioning-repository-history table.data tr.current { background-color:#DEDEDE; }
body.adminhtml-versioning-repository-history table.data tr.current td a { display:none; }

body.adminhtml-versioning-repository-history table.data tr td.a-status span {
	display:block; height:17px; line-height:17px; text-align:center;
	font-size:10px; font-weight:bold; text-transform:uppercase; color:white; border-radius:10px;
}

body.adminhtml-versioning-repository-history table.data tr td.a-status span.grid-success { background-color:#3CB861; }
body.adminhtml-versioning-repository-history table.data tr td.a-status span.grid-error { background-color:#E41101; }

/* &&&&&&&&&&&&&&&&&&&&&& versioning/repository/index &&& */
body.adminhtml-versioning-repository-index button.delpage.delete span { padding-left:0; background-image:none; }
body.adminhtml-versioning-repository-index div.content-header td { width:auto !important; }

body.adminhtml-versioning-repository-index table.data tr.headings th.no-link { padding:3px 4px; text-align:center; color:#666; }

body.adminhtml-versioning-repository-index table.data tr.outside { color:#AAA; font-style:italic; }
body.adminhtml-versioning-repository-index table.data tr.outside a { color:#AAA; }
body.adminhtml-versioning-repository-index table.data tr.outside:hover { color:#888; }
body.adminhtml-versioning-repository-index table.data tr.outside:hover a { color:#AAA; }

body.adminhtml-versioning-repository-index table.data tr td { vertical-align:middle; }
body.adminhtml-versioning-repository-index table.data tr td.revision { padding:2px 0; }
body.adminhtml-versioning-repository-index table.data tr td.revision strong { font-size:115%; }
body.adminhtml-versioning-repository-index table.data tr td a.issue { float:right; padding-left:0.3em; color:#999; }

body.adminhtml-versioning-repository-index div.grid div.hor-scroll { position:relative; overflow:hidden; }
body.adminhtml-versioning-repository-index div.grid div.hor-scroll svg {
	position:absolute !important; left:87px; width:197px;
	transition:width 0.4s; -moz-transition:width 0.4s; -webkit-transition:width 0.4s;
	background-color:rgba(0,0,0, 0.09); pointer-events:none;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& apijs/confirm &&& */
body.adminhtml-versioning-repository-index p.credits { position:absolute; bottom:1.2em; left:1em; color:#CCC; }

body.adminhtml-versioning-repository-index #apijsDialog {
	background-color:#111; background-size:100% 100%;
	background-image:url("../../../images/luigifab/versioning/mars-sunset.jpg");
}

#apijsBox.versioning { background-color:rgba(255,255,255, 0.6); opacity:1; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; }
#apijsBox.versioning h1 { padding-left:23px; min-height:1.2em; font-size:1.2em; line-height:1.2em; color:#EB5E00; }
#apijsBox.versioning.bzr h1 { background:url("../../../images/luigifab/versioning/bzr.png") no-repeat left center; }
#apijsBox.versioning.git h1 { background:url("../../../images/luigifab/versioning/git.png") no-repeat left center; }
#apijsBox.versioning.svn h1 { background:url("../../../images/luigifab/versioning/svn.png") no-repeat left center; }
#apijsBox.versioning.hg h1  { background:url("../../../images/luigifab/versioning/hg.png") no-repeat left center; }
#apijsBox.versioning.darcs h1 { background:url("../../../images/luigifab/versioning/darcs.png") no-repeat left center; }

#apijsBox.versioning div.bbcode ul { margin-top:0.5em; font-size:0.9em; }
#apijsBox.versioning div.bbcode ul li + li { margin-top:0.35em; }
#apijsBox.versioning div.bbcode label { cursor:pointer; }
#apijsBox.versioning div.bbcode input { margin-right:0.2em; vertical-align:text-bottom; cursor:pointer; }
#apijsBox.versioning p.reload { display:none; }

/* &&&&&&&&&&&&&&&&&&&& versioning/repository/confirm &&& */
body.adminhtml-versioning-repository-confirm {
	height:100%; line-height:140%; overflow-y:scroll;
	background-color:#111; background-size:100% 100%;
	background-image:url("../../../images/luigifab/versioning/mars-sunset.jpg");
}

body.adminhtml-versioning-repository-confirm form {
	position:relative; display:block; top:23%; margin:auto; padding:0.6em 0.8em 2.4em; width:26rem; min-height:12.5em;
	font:0.8rem sans-serif; border-radius:0.8em; background-clip:padding-box; background-color:rgba(255,255,255, 0.6);
}

body.adminhtml-versioning-repository-confirm h1 {
	margin:0.15em 0 0.7em; padding-left:23px; min-height:1.2em;
	font-size:1.2em; line-height:1.2em; color:#EB5E00;
}

body.adminhtml-versioning-repository-confirm h1.bzr { background:url("../../../images/luigifab/versioning/bzr.png") no-repeat left center; }
body.adminhtml-versioning-repository-confirm h1.git { background:url("../../../images/luigifab/versioning/git.png") no-repeat left center; }
body.adminhtml-versioning-repository-confirm h1.svn { background:url("../../../images/luigifab/versioning/svn.png") no-repeat left center; }
body.adminhtml-versioning-repository-confirm h1.hg  { background:url("../../../images/luigifab/versioning/hg.png") no-repeat left center; }
body.adminhtml-versioning-repository-confirm h1.darcs { background:url("../../../images/luigifab/versioning/darcs.png") no-repeat left center; }

body.adminhtml-versioning-repository-confirm ul { margin-top:0.5em; font-size:0.9em; }
body.adminhtml-versioning-repository-confirm ul li + li { margin-top:0.35em; }
body.adminhtml-versioning-repository-confirm label { cursor:pointer; }
body.adminhtml-versioning-repository-confirm input { margin-right:0.2em; vertical-align:text-bottom; cursor:pointer; }

body.adminhtml-versioning-repository-confirm p { margin:1em auto; line-height:140%; }
body.adminhtml-versioning-repository-confirm p.credits { position:absolute; bottom:0.25em; left:1em; color:#CCC; }
body.adminhtml-versioning-repository-confirm p.saving { position:absolute; top:4.35em; margin:0; }

body.adminhtml-versioning-repository-confirm div.buttons { position:absolute; right:0.9em; bottom:0.7em; }
body.adminhtml-versioning-repository-confirm div.buttons button { height:1.7em; }
body.adminhtml-versioning-repository-confirm div.buttons button[type="submit"] { float:right; margin-left:0.4em; }

body.adminhtml-versioning-repository-confirm button { opacity:0.7; }
body.adminhtml-versioning-repository-confirm button:hover, body.adminhtml-versioning-repository-confirm button:active,
body.adminhtml-versioning-repository-confirm button:focus { opacity:1; }