<?xml version="1.0"?>
<!--
 * Created S/03/12/2011
 * Updated L/29/09/2012
 * Version 19
 *
 * Copyright 2011-2012 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * https://redmine.luigifab.info/projects/magento/wiki/versioning
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
-->

<config>
	<modules>
		<Luigifab_Versioning>
			<version>2.2.1</version>
		</Luigifab_Versioning>
	</modules>
	<global>
		<blocks>
			<versioning>
				<class>Luigifab_Versioning_Block</class>
			</versioning>
		</blocks>
		<helpers>
			<versioning>
				<class>Luigifab_Versioning_Helper</class>
			</versioning>
		</helpers>
		<models>
			<versioning>
				<class>Luigifab_Versioning_Model</class>
			</versioning>
		</models>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<luigifab_versioning before="Mage_Adminhtml">Luigifab_Versioning</luigifab_versioning>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<events>
			<admin_system_config_changed_section_versioning>
				<observers>
					<versioning_observer>
						<class>versioning/observer</class>
						<method>updateConfig</method>
					</versioning_observer>
				</observers>
			</admin_system_config_changed_section_versioning>
			<!--admin_versioning_upgrade_before>
				<observers>
					<versioning_before>
						<class>versioning/observer</class>
						<method>beforeUpgradeEvent</method>
					</versioning_before>
				</observers>
			</admin_versioning_upgrade_before>
			<admin_versioning_upgrade_after>
				<observers>
					<versioning_after>
						<class>versioning/observer</class>
						<method>afterUpgradeEvent</method>
					</versioning_after>
				</observers>
			</admin_versioning_upgrade_after-->
		</events>
		<layout>
			<updates>
				<versioning>
					<file>luigifab/versioning.xml</file>
				</versioning>
			</updates>
		</layout>
		<translate>
			<modules>
				<Luigifab_Versioning>
					<files>
						<default>Luigifab_Versioning.csv</default>
					</files>
				</Luigifab_Versioning>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<versioning>
			<scm>
				<maintenance>0</maintenance>
				<events>0</events>
			</scm>
			<tweak>
				<showlog>0</showlog>
				<deletelog>0</deletelog>
				<svggraph>1</svggraph>
			</tweak>
		</versioning>
	</default>
</config>