<?xml version="1.0"?>
<!--
 * Created S/03/12/2011
 * Updated D/29/04/2012
 * Version 8
 *
 * Copyright 2011-2012 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * https://redmine.luigifab.info/projects/magento/wiki/versioning
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
-->

<config>
	<modules>
		<Luigifab_Versioning>
			<version>1.1.0</version>
		</Luigifab_Versioning>
	</modules>
	<global>
		<blocks>
			<versioning>
				<class>Luigifab_Versioning_Block</class>
			</versioning>
		</blocks>
		<helpers>
			<versioning>
				<class>Luigifab_Versioning_Helper</class>
			</versioning>
		</helpers>
		<models>
			<versioning>
				<class>Luigifab_Versioning_Model</class>
			</versioning>
		</models>
	</global>
	<admin>
		<routers>
			<versioning>
				<use>admin</use>
				<args>
					<module>Luigifab_Versioning</module>
					<frontName>versioning</frontName>
				</args>
			</versioning>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<versioning>
					<file>luigifab/versioning.xml</file>
				</versioning>
			</updates>
		</layout>
		<translate>
			<modules>
				<Luigifab_Versioning>
					<files>
						<default>Luigifab_Versioning.csv</default>
					</files>
				</Luigifab_Versioning>
			</modules>
		</translate>
	</adminhtml>
</config>