/**
 * Created J/22/12/2011
 * Updated D/31/05/2020
 *
 * Copyright 2011-2020 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://www.luigifab.fr/openmage/versioning
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& global &&& */
body.adminhtml-versioning-repository-index h3.icon-head.bzr, body.adminhtml-versioning-repository-history h3.icon-head.bzr,
body.adminhtml-versioning-repository-status h3.icon-head, #apijsBox.versioning.bzr h1 {
	background:url("../../../images/luigifab/versioning/bzr.png") no-repeat left center;
}

body.adminhtml-versioning-repository-index h3.icon-head.git, body.adminhtml-versioning-repository-history h3.icon-head.git,
body.adminhtml-versioning-repository-status h3.icon-head.git, #apijsBox.versioning.git h1 {
	background:url("../../../images/luigifab/versioning/git.png") no-repeat left center;
}

body.adminhtml-versioning-repository-index h3.icon-head.svn, body.adminhtml-versioning-repository-history h3.icon-head.svn,
body.adminhtml-versioning-repository-status h3.icon-head.svn, #apijsBox.versioning.svn h1 {
	background:url("../../../images/luigifab/versioning/svn.png") no-repeat left center;
}

body.adminhtml-versioning-repository-index h3.icon-head.hg, body.adminhtml-versioning-repository-history h3.icon-head.hg,
body.adminhtml-versioning-repository-status h3.icon-head.hg, #apijsBox.versioning.hg h1 {
	background:url("../../../images/luigifab/versioning/hg.png") no-repeat left center;
}

body.adminhtml-versioning-repository-index h3.icon-head.darcs, body.adminhtml-versioning-repository-history h3.icon-head.darcs,
body.adminhtml-versioning-repository-status h3.icon-head.darcs, #apijsBox.versioning.darcs h1 {
	background:url("../../../images/luigifab/versioning/darcs.png") no-repeat left center;
}

body.adminhtml-versioning-repository-index > div.wrapper,
body.adminhtml-versioning-repository-index #apijsDialog, #page-login {
	background-color:#111; background-size:100% 100%; background-attachment:fixed;
	background-image:url("../../../images/luigifab/versioning/mars-sunset.jpg");
}

/* &&&&&&&&&&&&& versioning/repository/status+history &&& */
body.adminhtml-versioning-repository-status pre ins { display:inline-block; width:100%; text-decoration:none; background-color:#CFC; }
body.adminhtml-versioning-repository-status pre del { display:inline-block; width:100%; text-decoration:none; background-color:#FCC; }
body.adminhtml-versioning-repository-status pre strong { display:inline-block; width:100%; }
body.adminhtml-versioning-repository-status pre ins b.cut { background-color:#99FF99; }
body.adminhtml-versioning-repository-status pre del b.cut { background-color:#FFA6A6; }

body.adminhtml-versioning-repository-status pre, body.adminhtml-versioning-repository-history pre {
	margin-bottom:1em; padding:0.8em 1em 1em; overflow:hidden;
	font:11px "Courier New", monospace; line-height:16px; white-space:pre-wrap;
	color:#666; border:1px solid #DADFE0; background-color:#F6F6F6;
}

body.adminhtml-versioning-repository-status pre span, body.adminhtml-versioning-repository-history pre span { color:black; }

body.adminhtml-versioning-repository-history pre { height:20em; margin-bottom:2em; overflow:auto; }
body.adminhtml-versioning-repository-history table.data tr.headings th.no-link { padding:3px 4px; text-align:center; }
body.adminhtml-versioning-repository-history table.data tr.current { font-weight:700; }
body.adminhtml-versioning-repository-history table.data tr.current button { display:none; }

button.slink {
	display:inline; margin:0; padding:0; line-height:1;
	font-weight:400; text-decoration:underline; color:#EA7601; border:0; background:none;
}

/* &&&&&&&&&&&&&&&&&&&&&& versioning/repository/index &&& */
body.adminhtml-versioning-repository-index .notice-msg pre { line-height:1.1em; font-weight:400; }
body.adminhtml-versioning-repository-index button.delpage.delete span { padding-left:0; background-image:none; }
body.adminhtml-versioning-repository-index div.grid div.hor-scroll { position:relative; overflow:hidden; }

body.adminhtml-versioning-repository-index table.data tr.headings th.no-link { padding:3px 4px; text-align:center; color:#666; }
body.adminhtml-versioning-repository-index table.data td { vertical-align:middle; cursor:pointer; }
body.adminhtml-versioning-repository-index table.data td.revision { padding:2px 0; }
body.adminhtml-versioning-repository-index table.data td.revision strong { font-size:115%; }
body.adminhtml-versioning-repository-index table.data td input { cursor:pointer; visibility:hidden; }
body.adminhtml-versioning-repository-index table.data td input[onchange]:enabled { visibility:visible; }
body.adminhtml-versioning-repository-index table.data td a.issue { float:right; padding-left:0.3em; color:#999; }

body.adminhtml-versioning-repository-index div.grid div.hor-scroll svg {
	position:absolute; left:157px; width:197px; z-index:50; overflow:hidden;
	background-color:rgba(0, 0, 0, 0.09); transition:width 0.4s;
}

body.adminhtml-versioning-repository-index div.grid div.hor-scroll svg .k { transition:opacity 0.25s; }
body.adminhtml-versioning-repository-index table.data tr.k button { transition:opacity 0.6s, visibility 0.6s; }
body.adminhtml-versioning-repository-index table.data tr.k { transition:color 0.6s; }

body.progress * { cursor:progress !important; }
body.progress div.content-header td.form-buttons, body.progress div.content-header-floating td.form-buttons { visibility:hidden; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& apijs/confirm &&& */
body.adminhtml-versioning-repository-index p.credits { position:absolute; bottom:1.2em; left:1em; color:#CCC; }
body.adminhtml-versioning-repository-index #anchor-content { margin-top:1px; padding-top:22px; }

#apijsBox.versioning { width:30rem; box-shadow:none; background-color:rgba(255, 255, 255, 0.6); }
#apijsBox.versioning h1 { padding-left:23px; margin-bottom:1em; height:1.2em; line-height:1.2em; font-size:1.2em; color:#EB5E00; }
#apijsBox.versioning h1:before { display:none; }

#apijsBox.versioning div.bbcode ul { margin-top:0.5em; }
#apijsBox.versioning div.bbcode li { line-height:1.42857143; }
#apijsBox.versioning div.bbcode label { display:block; cursor:pointer; }
#apijsBox.versioning div.bbcode input { cursor:pointer; }
#apijsBox.versioning div.bbcode .ip { margin:0 0.3em; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& fake-apijs/confirm &&& */
#apijsDialog.fake * { margin:0; padding:0; }
#apijsDialog.fake { position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:99000; }

#apijsBox.fake {
	position:relative; top:21%; display:inline-block; padding:0.6em 0.8em 2.4em; min-height:15em; overflow:hidden; text-align:left;
	font-size:0.8rem; font-family:sans-serif; color:black; border-radius:0.8em;
}

#apijsBox.fake h1 { margin:0.15em 0 1em; font-weight:700; }
#apijsBox.fake p  { margin:1em auto; line-height:1.42857143; font-size:1em; }
#apijsBox.fake ul { margin:-0.4em auto 1em; }

#apijsBox.fake div.control { position:absolute; right:0.8em; bottom:0.6em; }
#apijsBox.fake div.control button.cancel { float:left; margin-right:0.5em; }

#apijsBox.fake div.control button {
	padding:0 0.7em; height:auto; line-height:24px;
	color:black; border:1px solid #BBB; border-radius:0.4em; background-color:#E2E2E2;
	font-size:0.85em; font-family:sans-serif; font-weight:400; text-decoration:none; cursor:pointer; background-image:none;
}

#apijsBox.fake div.control button::-moz-focus-inner { padding:0; border:0; outline:0; }
#apijsBox.fake div.control button:hover, #apijsBox.fake div.control button:active,
#apijsBox.fake div.control button:focus { outline:0; border-color:#555; background-color:#F4F4F4; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&& adminhtml/index/login &&& */
#page-login { overflow-y:scroll; color:white; }

#page-login div.login-container { padding:0; background:none; }
#page-login div.login-box div.login-form { background:none; }
#page-login div.login-box div.bottom { display:none; }
#page-login div.login-box input { padding:0.4em 0.2em; border:0; }
#page-login div.login-box input.form-button { border:0; background:none; }
#page-login div.login-box label { font-weight:400; text-decoration:none; color:white; }
#page-login div.login-box a { text-decoration:none; color:white; }

#page-login p.credits { position:absolute; bottom:0.7em; left:1em; color:#CCC; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& system/config &&& */
#versioning_downtime > .comment { padding:5px; line-height:130%; color:#E41101; }
#versioning_downtime h4 a { float:right; font-size:12px; text-decoration:none; }
#versioning_downtime td.value input { width:400px; }
#versioning_downtime td.value textarea { width:400px; height:10em; }
#versioning_downtime td.value p.note { width:400px; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& statut &&& */
.versioning-status {
	display:block; margin-top:1px; height:auto; line-height:16px; text-align:center;
	font-size:10px; font-weight:700; text-transform:uppercase; color:white; border-radius:10px;
}

.versioning-status.grid-success { background-color:#3CB861; }
.versioning-status.grid-error   { background-color:#E41101;
	animation:versioningBlink 1s step-start 0s infinite; -webkit-animation:versioningBlink 1s step-start 0s infinite;
}

@keyframes versioningBlink { 30% { color:transparent; } }
@-webkit-keyframes versioningBlink { 30% { color:transparent; } }